/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/


.margen34{
    margin-top: -70px;
}

.mas {
    color:#3eb7e4;
    font-weight: 600;
}
.mas2 {
    font-weight: 600;
    font-size: 100px;
}
.mas3 {
    font-size: -100px;
}
.mas:hover {
    color:black;
}
.text-white {
    color:white
}
.text-black{
    color:black
}
.text-gray {
    color:#9b9b9b
}
.text-blue {
    color: blue;
}
.text-azul {
    color: #3eb7e4;
}
.text-enlace {
    color: #3eb7e4;
    font-weight: 600px;
    font-size: 1.3em;
}
.imglogo {
    width: 100px;
    height: 80px;
    float: left;
    display: initial;
    margin-left:-100px;
}
.imglogo2 {
    width: 80px;
    height: 80px;
    float: left;
    display: initial;
    margin-left:-90px;
    margin-top: 70px;
}
.imglogo3 {
    width: 80px;
    height: 80px;
    float: left;
    display: initial;
    margin-left:-90px;
    margin-top: 70px;
}

.imgcolaboradores {
    width: 640px;
    height: 440px;
}

.img-patro{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    
  }
/* Change ' +' in order to change the Dropdown symbol */


/* header */

.w3ls-btn {
	letter-spacing: 1px;
	font-weight: 600;
	background: transparent;
	border: 2px solid #fff;
	padding: 4px 15px;
	background: #eee;
}

/*-- //header --*/
.inner-banner {
    background: url(../images/ban11.png) 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 350px;
    position: relative;
}
/* banner */

.banner {
	background: url(../images/bg1,bg2,bg3,bg4,bg5.jpg) center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
}
.banner-text {
	padding: 20vw 0 16vw;
	box-sizing: border-box;
}

.slider-info {
    text-align: right;
    width: 560px;
    margin-left: auto;
}

.slider-info h3 {
	font-size: 2.3em;
	text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

.slider-bottom-lft h4 {
    color: #fff;
    letter-spacing: 2px;
	text-transform: capitalize;
}
/* //banner */
.n-right-w3ls .form-group input.form-control.submit {
    background: #3eb7e4;
    border: 1px solid #3eb7e4;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8em 1em;
}
.n-right-w3ls .form-group .form-control {
    display: block;
    width: 100%;
    padding: 1em 1em;
    border: 1px solid #ffffff;
    background: #fff;
    letter-spacing: 1px;
    font-size: 0.9em;
    color: #777;
}
.heading-agileinfo {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    position: relative;
    margin-top: 0;
}

.heading-agileinfo span {
    margin-top: 1em;
    letter-spacing: 2px;
    color: #3eb7e4;
}
.heading-agileinfo2 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 33px;
    color: #000;
    text-transform: capitalize;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo3 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo2 span {
    margin-top: 1em;
    letter-spacing: 2px;
    color: #3eb7e4;
}
.heading-agileinfo3 span {
    margin-top: 1em;
    letter-spacing: 2px;
    color: #3eb7e4;
}
.text-banner {
    margin-left: -30px;
    letter-spacing: 1px;
    margin-top: -40px;
}
/*.heading-agileinfo :after {
    content: '';
    background: #3eb7e4;
    height: 2px;
    width: 120px;
    position: absolute;
    top: 114%;
    right: 2%;
}*/
p.vam {
    margin: 5em 0 2em;
}

.agil_mor a {
    color: #3eb7e4;
    font-weight: 600;
    letter-spacing: 1px;
}
.section-4 {
    padding-left: 9em;
	text-align: right;
}
.section-5 {
    padding-right: 9em;
	text-align: left;
}
.subir {
    margin-top: -50px;
}
.subir2 {
    margin-top: -10px;
}
.subir3 {
    margin-top: -5px;
}
.subir4 {
    margin-top: -25px;
}
titulos-home {
    margin-left: -70px;
}.
.texto-home {
    margin-top: -70px;
    font-weight: 70px;
}
.texto-principal {
    font-weight: 70px;
}
.titulos-home2 {
    margin-right: -150px; 
}
.titulos-home6 {
    margin-right: -20px; 
}
.titulos-home7 {
    margin-right: -10px; 
}
.titulos-home3 {
    margin-top: 10px; 
}
.titulos-home4 {
    margin-top: -60px; 
}
.titulos-home5 {
    margin-top: -150px; 
}
.titulos-home7 {
    margin-left: -40px;
}
.titulos-home8 {
    margin-right: -40px;
}
.titulos-home9 {
    margin-right: -20px;
}
.video-home {
    height: 430px;
    width: 770px;
}
.text-a{
    color: #3eb7e4;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #3544b4;
  }

  .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #ffffff;
    background-color: #3eb7e4;
    border-radius: 15px;
    border: 3px double #0d88b4;
  }
  .boton_1:hover{
    color: #000;
    text-decoration: none;
  }

/* stats */
section.agile_stats {
	background: url(../images/bg1,bg2,bg3,bg4,bg5.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
}

section.agile_stats:before {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    content: '';
    background: rgba(12, 12, 12, 0.18);
    z-index: -1;
}

.counter span {
	font-size: 2em;
	color: #3eb7e4;
}

h4.timer {
	font-size: 3em;
	font-weight: 600;
	color:#fff;
}

/* //stats */
figure {
    margin: 0 0 1rem;
    background: #f1f1f1;
    padding: 1em;
}

.mis-stage h6 {
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
    letter-spacing: 1px;
	text-align: center;
}
.more-services h4 {
    font-size: 1.3em;
    color: #3eb7e4;
    text-align: center;
    margin: 1em 0;
}
.more-services p {
    color: #777;
    text-align: center;
    margin-bottom: 1em;
}
.events-up h5 {
    font-size: 20px;
	color: #fff;
}

.events-up h5 span {
    display: block;
}

.events-up {
    background: #d1d1d1;
}
.events-right h4 {
    font-size: 20px;
	color: #343a40;
}
.events-right ul li span {
    color:#000000;
}

.events-right ul li {
    font-size: 15px;
}
.list-unstyled {
    color: #777;
}                                                                             
/* video and event section */
/* testimonials */

.testimonials {
    background: url(../images/bg.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.testimonials h3{
	color: #fff;
}
/* //testimonials */
/* footer */
footer {
	background-color: #0e0f10;
}

footer h3{
	font-size: 1.5em;
	color: #ffffff;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

footer p {
    color: #bfbfbf;
    font-size: 15px;
    line-height: 1.8em;
}
footer ul li {
    display: block;
    color: #bfbfbf;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8em;
    margin: 0.7em 0;
}

footer-list i {
	padding-right: 10px;
	color: #ffa41f;
}

footer ul li a {
	color: #bfbfbf;
	font-size: 13px;
	font-weight: 600;
	display: block;
	padding: 5px 0px;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

footer ul li a:hover {
	color: #ffa41f;
}

footer ul li.hd {
	color: #3eb7e4 ;
}

.newsletter .email {
	background-color: #F4F4F4;
	border: none;
}

.flickr-grid {
	float: left;
	width: 21%;
    margin: 0 0.1em .3em;
    margin-left: 26px;
}

.flickr-grid a img {
	width: 100%;
	padding: 0.3em;
	border: 1px solid #333333;
}

.titulo-footer{
    margin-left: 26px;
}

/*--//footer--*/
/*--/copyright--*/

.copyright ul li {
	display: inline-block;
	padding: 0 10px;
}

.copyrighttop a {
	color: #fff;
	font-size: 16px;
}

.copyrighttop a:hover {
	color: #3eb7e4 ;
}

.copyrighttop {
	float: right;
}

.copyrightbottom {
	float: left;
}

.copyright {
	background: #141415;
	color: #fff;
	border-top: 1px solid rgba(25, 24, 24, 0.58);
}

.copyrightbottom p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.copyrightbottom a {
	color: #3eb7e4 ;
	text-decoration: none;
}
.contact-info h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
}
.phone p a:hover {
    color: #fff;
}
.phone p a {
    color: #808080;
}
.copyrightbottom a:hover {
	color: #fff;
}
.copyrighttop h4 {
	font-size: 0.95em;
}
/* typography */
.typo-wthree h4 {
	color:#000000;
	font-size: 1.5em;
	text-transform: capitalize;
}
.bg-flex {
    background-color: #af3c29;
    border: 1px solid rgb(204, 63, 40);
}
.bg-flex-item {
	background-color: #fff;
	border: 1px solid #d7d8d8;
}

.typo-wthree h5 {
	color: #333;
}

/* //typography */
/*--/contact--*/
.address-left {
	width: 80px;
    height: 80px;
    text-align: center;
    background:#3eb7e4;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
.address-grid-wthree-agileits {
	text-align: center;
    margin: 0 auto;
}
.address-grid-wthree-agileits span {
    font-size: 1.7em;
    color: #fff;
    margin-top: 27px;
}

.address-right {
	margin-top:1.2em;
}
.address-right h6 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}
.contact_grid_right {
    width: 100%;
}
.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
    margin-top: 1em;
}

.contact_grid_right input[type="text"]:nth-child(2),
.contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"],
.contact_grid_right input[type="reset"] {
    outline: none;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
	background: #0e0f10;
	width: 22%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-weight:600;
	cursor: pointer;
}

.contact_grid_right input[type="submit"],
.contact_grid_right input[type="reset"]:hover {
    background-color: #3eb7e4;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #3eb7e4;
}

.contact_grid_right h6, .contact-left h6 {
    font-size: 1.2em;
    color: #2e1f54;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
}
.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height:300px;
}
.address.row {
    width: 100%;
}
.address-right a {
    color: #777;
}
.address-right p {
    color: #777;
}
/*-- //contact--*/
/*-- Gallery Section --*/

.gallery-grid1 img {
	width: 100%;
	cursor: pointer;
}

/*--Gallery hover effect--*/
.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gallery-grid1:nth-child(2),
.gallery-grid1:nth-child(3) {
	margin-top: 1.7em;
}

.gallery-grid1 .p-mask,
.row .product .vm-product-media-container .p-mask {
	opacity: 0;
	visibility: hidden;
	background: rgba(25, 24, 24, 0.8);
	bottom: -2%;
	position: absolute;
	padding: 1.3em 1.3em;
	width: 100%;
	-webkit-transform: translate3d( 0px, 100%, 0px);
	-moz-transform: translate3d( 0px, 100%, 0px);
	-ms-transform: translate3d( 0px, 100%, 0px);
	-o-transform: translate3d( 0px, 100%, 0px);
	transform: translate3d( 0px, 100%, 0px);
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: left;
	border-bottom: 6px solid #273b7b;
}

.gallery-grid1 .p-mask .p-desc {
	color: #a3a3a3;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.gallery-grid1:hover .p-mask,
.row .product:hover .p-mask {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
}

.p-mask h4 {
	color: #3eb7e4;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

.p-mask p {
	margin: 0;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}


/*-- //Gallery Section --*/
/*-- services --*/
.agileits-services-grids h4 {
    font-size: 1.3em;
    color: #000;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 20px 0 0;
}

.agileits-services-grids h6 {
    padding: 1px;
    background: #2954a2;
    width: 33%;
    margin: 2em auto 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.agileits-services-grids:hover h6 {
    width: 55%;
    background: #2954a2;
}

/*-- Effect 1--*/

.agileits-services-grids span {
    font-size: 2em;
    color: #3eb7e4;
    text-align: center;
}

.agileits-services-grids label {
    width: 40px;
    height: 2px;
    background: #3eb7e4;
    display: inline-block;
}
a.service-btn {
    background: #3eb7e4;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    margin: 18px 0 0;
    border-radius: 5px;
    letter-spacing: 1px;
}
.w3ls-titles p {
    width: 76%;
}
h5.card-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    color: #3eb7e4;
    font-weight: 600;
}
.card-body.w3ls-card span {
    color: #3eb7e4;
}
.card-body.w3ls-card a {
    font-size: 14px;
    padding: 8px 18px;
    background: #3eb7e4;
    outline: none;
    border: none;
    display: inline-block;
    letter-spacing: 2px;
}
/*-- //services --*/
.banner_bottom_left h4 {
    font-size: 1.5em;
    color: #3c3c3c;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    line-height: 1.6em;
    margin-bottom: 1em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*-- team --*/

.team-top {
    text-align: center;
    padding-bottom: 3em;
}

.team-text h4 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 0.3em;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.56);
    padding: 9px 0;
}

.team-text h5 {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
}

.caption {
    opacity: 0;
    top: 0%;
    position: absolute;
    width: 89.5%;
    left: 20px;
    text-align: center;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.team-grid:hover .caption {
    display: block;
    top: 38%;
    opacity: 1;
}

.caption ul {
    padding: 1em 0 .5em;
}

.caption ul li {
    list-style-type: none;
    display: inline-block;
}

.caption ul li:nth-child(2) {
    margin: 0 0.3em;
}

.caption ul li a span {
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 1.9;
}

.caption ul li a span:hover {
    transform: rotateY(360deg);
    transition: .5s all;
}

.caption ul li a span.f1 {
    background: #3b5998;
}

.caption ul li a span.f2 {
    background: #00aced;
}

.caption ul li a span.f3 {
    background: #3eb7e4;
}
/*-- //team --*/ 
/*--placeholder-color--*/

.n-right-w3ls::-webkit-input-placeholder {
    color: #fff;
}

.n-right-w3ls:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.n-right-w3ls::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.n-right-w3ls:-ms-input-placeholder {
    color: #fff;
}

/*-- //placeholder-color --*/
/*-- popup --*/

.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
	z-index:1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    margin: 8em auto;
    padding: 3em 1em;
}

.popup p {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
    line-height: 30px;
}

.popup h2 {
    margin-top: 0;
    color: #fff;

}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #30c39e;
}


/*-- //popup --*/
/*-- popup --*/

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 27%;
    position: relative;
    margin: 15em auto;
	padding: 5em;
}
.popup {
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    margin: 8em auto;
	padding: 3em 1em;
}
.popup p{
	font-size: 15px;
	color: #666;
	letter-spacing: .5px;
	line-height: 30px;
}
.popup .close {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup h2 {
  margin-top: 0;
  color: #fff;

}
.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup .close:hover {
  color: #30c39e;
}

/*-- //popup --*/
section.agile_stats p{
	color:#fff;
}
/* -- Responsive code -- */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {
	.slider-info h3 {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 1080px) {
	.slider-info h3 {
		font-size: 3em;
	}
	.inner-banner {
    min-height: 280px;
}
.section-4 {
    padding-left: 2em;
}
.section-5 {
    padding-right: 2em;
}
.slider-bottom-lft h4 {
    letter-spacing: 1px;
}
.navbar-light {
    padding: 1.3em 3em;
}
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1024px) {
	h3.tittle-w3ls {
    font-size: 2.5em;
	}
}

@media screen and (max-width: 991px) {
	.navbar-collapse {
		background: #000;
		padding: 1em;
	}
	.dropdown-menu.show {
		text-align: center;
	}
	.inner-banner {
    min-height: 280px;
}
.heading-agileinfo {
    font-size: 35px;
}
.copyrightbottom {
    float: none;
    text-align: center;
}
.copyrighttop {
    float: none;
    text-align: center;
    margin-bottom: 1em;
}
.banner_bottom_left {
    margin-top: 1em;
}
.caption {
    width: 83.5%;
}
p.vam {
    margin: 2em 0 2em;
}
.section-4 {
    padding-left: 1em;
	margin-top: 1.5em;
}
.section-5 {
    padding-right: 1em;
    margin-bottom: 1.5em;
}
.video {
    margin-top: 1.5em;
}
}
@media screen and (max-width: 900px) {
	.navbar-light {
    padding: 1.3em 0em;
}
}

@media screen and (max-width: 800px) {
	.slider-info h3 {
		font-size: 2.8em;
	}
	nav a {
    padding: 0px 7px;
}
}
@media screen and (max-width: 768px) {
.slider-info h3 {
    font-size: 2.5em;
}
.navbar-light {
    padding: 1.3em 1em;
}
}

@media screen and (max-width: 736px) {
	.slider-info {
		width: 547px;
		padding-top: 3em;
	}
	.card-deck .card {
    flex: auto;
}
.card:nth-child(2) {
	margin-top:1.5em;
	margin-bottom:1.5em;
}
.footer-grid:nth-child(2){
	margin:1.5em 0;
}
.gal-sec:nth-child(2){
	margin:1.7em 0;
}
.caption {
    width: 77.5%;
}
.team-text h4 {
    padding: 5px 0;
}
.slider-bottom-lft {
    margin-bottom: 1em;
}
.popup {
    width: 80%;
}
}
@media screen and (max-width: 667px) {
	.slider-info h3 {
		font-size: 2.3em;
	}
	.inner-banner {
    min-height: 230px;
}
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 600px) {
	.slider-info {
		width: auto;
	}
	.slider-info h3 {
		font-size: 2.3em;
	}
}

@media screen and (max-width: 568px) {
	.slider-info h3 {
		font-size: 1.8em;
	}
	.inner-banner {
    min-height: 210px;
}
.navbar-light {
    padding: 1em 1em;
}
.team-grid {
    text-align: center;
}
.caption {
    width: 60%;
	left:113px;
}
.banner-text {
    padding: 20vw 0 12vw;
}
}

@media screen and (max-width: 480px) {
.caption {
    width: 71%;
	left:69px;
}
.banner-top.pb-5 {
    padding-bottom: 1em !important;
}
}

@media screen and (max-width: 440px) {
	a.navbar-brand i {
		font-size: 1.5em;
	}
	.caption {
    width: 78%;
	left:49px;
}
.h4.timer {
    font-size: 2.5em;
}
.banner_bottom_left h4 {
    font-size: 1.3em;
}
h4.timer {
    font-size: 2.5em;
}
}
@media screen and (max-width: 414px) {
.caption {
    width: 83%;
	left:36px;
}
}
@media screen and (max-width: 384px) {
.inner-banner {
    min-height: 160px;
}
.slider-info h3 {
    font-size: 1.5em;
}
.contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
    padding: 14px 0;
	width: 28%;
}
.caption {
    width: 89%;
	left:21px;
}
}

@media screen and (max-width: 375px) {
	.slider-info h3 {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 320px) {
.inner-banner {
    min-height: 140px;
}
.slider-info h3 {
		font-size: 1.3em;
	}
	footer h3 {
    font-size: 1.3em;
}
.heading-agileinfo {
    font-size: 30px;
	letter-spacing:0;
}
a.navbar-brand {
    font-size: 0.7em;
}
.caption {
    width: 87%;
}
.h4.timer {
    font-size: 2em;
}
.banner_bottom_left h4 {
    font-size: 1.2em;
}
figure.effect-layla figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
figure.effect-layla figcaption::after {
   top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
p.vam {
    margin: 1em 0 1em;
}
.events-right h4 {
    font-size: 19px;
}
.navbar-light {
    padding: 1em 0.7em;
}
.logo h1 a {
    font-size: 0.7em;
    letter-spacing: 0px;
}
}
/* -- //Responsive code -- */


.inner-page-banner2{
	background: url(../images/bg5.jpg) no-repeat center;
	min-height: 300px;
}
.inner-page-banner3{
	background: url(../images/bg3.jpg) no-repeat center;
	min-height: 300px;
}
.inner-page-banner4{
	background: url(../images/bg4.jpg) no-repeat center;
	min-height: 300px;
}