/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
    font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
img{
	width:100%;
}
.texto-azul {
    color: #3eb7e4;
}

/*-- header --*/
.w3_agile_logo {
    margin: 0;
    margin-top: 30px;
}
h1 {
    display: inline-block;
}
.w3_agilits_banner_bootm {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: 1rem 0;
}
.w3_agile_logo a {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 1em;
    text-transform: capitalize;
}
.w3_agile_logo h1 span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    display: block;
    color: #FFFFFF;
    position: relative;
}
.w3_agile_logo h1 span:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    left: 18%;
}
.w3_agile_logo h1 span:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    right: 18%;
}

/*-- menu --*/

.m_nav_ham {
    box-sizing: border-box;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
}



#m_nav_container {
    width: 100%;
    height: 80px;
    background-color: #3eb7e4;
    position: fixed;
    display: none;
    top: 0px;
    left: 0;
    z-index: 990 !important;
}

.wthree_bg {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wthree_bg.container_open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#m_nav_bar {
    width: 80%;
    margin: auto;
}

#m_nav_list {
    list-style: none;
    margin: 1.5em 0 0;
}

.m_nav_item {
    display: inline-block;
    margin: 0 2em;
}

.m_nav_item a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
	font-size: 15px;
    -webkit-transition-duration: 0.5s;
}

.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}

#m_nav_menu {
    width: 50px;
    height: 32px;
    position: fixed;
    top: 30px;
    right: 13.4%;
    z-index: 999 !important;
    cursor: pointer;
}

.m_nav_ham {
    width: 33px;
    height: 3px;
    background: white;
    margin: 7px auto;
    
}

.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}

.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}

.m_nav_ham_3_open {
    opacity: 0;
}

.button_open {
    background: #333;
}

.w3_agileits_ham {
    margin-top: .8em;
}

.w3_agileits_ham.m_nav_ham_1_open {
    margin-top: 20px !important;
}

#m_nav_container {
    text-align: center;
}

#m_nav_menu {
    top: 2.5%;
}

.dropdown-menu>li>a {
    display: block;
    padding: 4px 15px;
}

.dropdown-menu {
    min-width: 133px;
}

/*-- nav-effect --*/

.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    display: block;
    padding: .5em;
}

/* Sebastian */

.menu--sebastian .menu__link {
    position: relative;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.menu--sebastian .menu__link:hover {
    color: #fff;
}

.menu--sebastian .menu__item--current .menu__link {
    color: #fff;
}

.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.38);
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after,
.menu__link:hover::before,
.menu__link:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/* //Sebastian */

/*-- //header --*/

/*--Banner stats here--*/
.baner {
    background: url(../images/b3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 350px;
}

/*-- banner-text--*/
.banner-text {
    text-align: center;
    padding: 17em 0 0 0;
}
.banner-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 80px;
    letter-spacing: 5px;
}
.banner-text h2 span{
    font-weight: 800;
}
.banner-text i {
    color: #eee;
    font-size: 60px;
    margin:0 20px;
}
.baner-info{
   position: absolute;
    padding-top:4em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 0;
}
.baner-info h3 {
       text-align: center;
    font-size: 3.5em;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
}
.baner-info h3 span {
	color:#fbcd13;
}
.baner-info h4{
    text-align: center;
    font-size: 1em;
       margin: 2em 0 2em 0;
    font-weight:500;
    letter-spacing: 10px;
    color: #ffcc33;
    padding: 15px 0;
}
.w3-banner-head-info {
    position: relative;
}
.baner-info p {
	font-size: 1em;
    font-weight: 300;
    letter-spacing:2px;
    color: #fff;
    width: 32%;
    margin: 0 auto;
}
span.simply-word {
    font-size:18px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
    color: #02a388;
}
.baner-info span img {
    margin: 1em auto 0;
    text-align: center;
}
.baner-w3l-agile-grids-bottom {
       margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 12%;
    bottom: -62%;
    width: 80%;
}
.w3l-b-grid{
	float:left;
	width:32%;
}
.w3l-b-one{
      background:url(../images/b1.jpg) no-repeat 0px 0px;
    min-height:100px;
    background-size: cover;
    text-align: center;
	    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
	}
.w3l-b-grid .w3l-b-one:hover{
	  min-height:200px;
}
/*-- //banner-text--*/

/*-- banner bottom slider --*/
.item h4 {
    color: #222;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 32px;
}
/*-- banner bottom slider --*/

/*-- welcome --*/
h3.heading {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 10px;
    color: #161616;
}
.icon {
	position: relative;
}
.icon span{
	color: #3eb7e4;
}
.icon span:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background: #333;
    bottom: 44%;
    left: 44%;
}
.icon span:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background: #333;
    bottom: 44%;
    right: 44%;
}
p.welcome-para {
    font-size: 15px;
    letter-spacing: 1px;
    color: #555;
    text-align: center;
    line-height: 28px;
}
.welcome-right h4{
    color: #222;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}
.welcome-right h4 span {
    color: #e7272d;
    text-decoration: underline;
}


.welcome-right {
    position: relative;
    padding-right: 50px;
}
.welcome-right a {
     padding: 12px 30px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    background: #e7272d;
    border: 1px solid #e7272d;
    margin-top: 2em;
    display: inline-block;
    border-radius: 30px;
}
.welcome-right a:hover,.welcome-right a.know:hover{
	background: #333;
    border: 1px solid #333;
}
.welcome-right a.know {
     padding: 12px 30px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    background: #3eb7e4;
    border: 1px solid #3eb7e4;
    margin-top: 2em;
    display: inline-block;
    border-radius: 30px;
}
h6.w3l-style {
    color: #3eb7e4;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 46%;
     border: 2px solid #3eb7e4;
    padding: 10px 20px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: -8.5%;
}
h6.w3l-style:after {
    position: absolute;
    content: '';
    background: #3eb7e4;
    width: 50px;
    top: 45%;
    left: 115%;
    height: 2px;
}
h6.w3l-style:before {
    position: absolute;
    content: '';
    background: #3eb7e4;
    width: 50px;
    bottom: 45%;
    right: 115%;
    height: 2px;
}
/*-- Stats --*/
.numscroller {
	text-align:left;
	font-size: 1.5em;
     color: #555;
    font-weight: 800;
}
.stats-grid i {
    padding: 20px 0 0 0;
    float: left;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color:#37363d ;
}
.stats-grid {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 10px;
}
p.stats-info {
	margin-top: 0px;
    font-size: 0.5em;
    color:#777;
}
.icon1 i{
	color: #0a8ea0;
}
.icon2 i{
	color: #f48924;
}
.icon3 i{
	color: #7ac143;
}
.icon4 i{
	color: #f85a40;
}
/*-- //Stats --*/
/*-- //welcome --*/

/*-- blog --*/
.blogimg{
	background:url(../images/b5.jpg) no-repeat center;
	background-size: cover;
}
.blogimg1{
	background:url(../images/b6.jpg) no-repeat center;
	background-size: cover;
}
.blogimg2{
	background:url(../images/b8.jpg) no-repeat center;
	background-size: cover;
}
.blogimg3{
	background:url(../images/b7.jpg) no-repeat center;
	background-size: cover;
}
.blog1{
    background: #131313;
    color: #eee;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.blog1 a,.blog2 a {
    padding: 12px 30px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #777;
    border: 1px solid #777;
    margin-top: 2em;
    display: inline-block;
}
.blog1 a:hover,.blog2 a:hover {
    color: #3eb7e4;
    border: 1px solid #3eb7e4;
}
.blog1 h3,.blog2 h3 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 40px;
}
.blog1 h4,.blog2 h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 600;
}
.blog2{
    background: #333;
    color: #eee;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.blog1 h5,.blog2 h5 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 1em;
}
/*-- blog --*/

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

/* //inner bg */
.single p {
    margin: 0;
    font-size: 0.95em;
    color: #888;
    line-height: 2em;
    letter-spacing: 1px;
}
a.btn.btn-primary.read-m,.btn-primary {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	
    padding: 12px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    background: #e7272d;
    border: 1px solid #e7272d;
    display: inline-block;
    border-radius: 30px;
}

a.btn.btn-primary.read-m:hover, a.btn.btn-primary.read-m:focus,.btn-primary:hover,.btn-primary:focus {
    background: #333;
    border: 1px solid #333;
}

/*-- blog --*/

.blog-img {
    padding: 0;
}

ul.blog_list {
    margin-bottom: 1.5em;
}

.blog-bottom {
    background: #eb5273;
    padding: 2em;
    min-height: 330px;
}

.blog_info h5 a {
    font-size: 1em;
    color: #2c2d2d;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 1px;
}

.blog_info p a.user-blog {
    color: #555;
    text-transform: capitalize;
    font-size: 1em;
}

ul.blog_list li {
    display: inline-block;
    color: #212121;
    font-size: 0.9em;
}

ul.blog_list li span {
    color: #3eb7e4;
    padding-right: 8px;
}

ul.blog_list li i {
    padding: 0 1em;
    font-style: normal;
    color: #999;
}

ul.blog_list li a {
    text-decoration: none;
    color: #212121;
}

.blog_info h5 {
    margin: 12px 0 15px;
}

.blog_info {
    padding: 2em;
    border: 3px solid #f5f5f5;
    background-color: #f5f5f5;
}

.blog-side.blog-top-right {
    padding-right: 0;
}

.single-left1.blog_info {
    margin: 0;
}

.blog_info p {
    margin: 0 0 1em 0;
    color: #777;
}

ul.blog_list li a {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #515252;
}

/*-single-*/

ul.list-group.single {
    color: #727373;
}

ul.list-group.single .badge-primary {
    color: #fff;
    background: #8e9194;
}

h5.mt-0 {
    font-size: 20px;
    color: #3eb7e4;
    margin-bottom: 0.5em;
}

.tech-btm h4 {
    font-size: 1.6em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: .7em;
}

.progress {
    font-size: 0.75em;
    line-height: 8em;
    text-align: center;
    background-color: #d6d9da;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}

.tech-btm input[type="email"] {
    width: 100%;
    color: #737070;
    outline: none;
    font-size: 14px;
    padding: 0.6em 1em;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    letter-spacing: 1px;
    margin: 1em 0;
}

.tech-btm input[type="submit"] {
    background: #01cd74;
    padding: .7em 1em;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: block;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
}

.blog-grid-top h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #2c363e;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.single-gd form input {
    width: 100%;
}

.single-gd img {
    margin-bottom: 1em;
}

.comment-top input[type="text"],
.comment-top input[type="email"],
.comment-top textarea {
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 0.7em 1em;
    font-size: 0.9em;
    color: #555;
    margin: 0 0 0.7em;
    letter-spacing: 2px;
}

.comment-top button.btn.btn-primary.submit[type="submit"] {
    text-align: center;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
     padding: 12px 40px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    background: #3eb7e4;
    border: 1px solid #3eb7e4;
    display: inline-block;
    border-radius: 30px;
}

.comment-top button.btn.btn-primary.submit[type="submit"]:hover {
    background: #333;
    border: 1px solid #333;
}

.single-gd form input[type="email"] {
    outline: none;
    padding: 12px 15px;
    font-size: 13px;
    color: #777;
    background: #ffffff;
    letter-spacing: 2px;
    border: none;
    border: 1px solid #ddd;
    margin: 0;
    border-radius: 0;
}

.comment-top button.btn.btn-primary.submit {
    background: #080808;
    padding: .8em 1em;
    color: #fff;
    font-size: 15px;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 1em;
}

.comment-top button.btn.btn-primary.submit:hover {
    background: #1cbbb4;
}

.media-body p {
    color: #777;
    font-size: 0.875em;
    line-height: 1.9em;
    margin-bottom: 3em;
}

.comment h3,
.comment-top h4 {
    font-size: 28px;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: 1em;
}

.media img {
     width: 15%;
    margin-right: 15px;
    box-shadow: 4px 4px #e4e4e4;
    -webkit-box-shadow: 4px 4px #e4e4e4;
    -o-box-shadow: 4px 4px #e4e4e4;
    -moz-box-shadow: 4px 4px #e4e4e4;
    -ms-box-shadow: 4px 4px #e4e4e4;
}

.blog_info_left_grid img {
    box-shadow: 4px 4px #d6d9da;
    -webkit-box-shadow: 4px 4px #d6d9da;
    -moz-box-shadow: 4px 4px #d6d9da;
    -o-box-shadow: 4px 4px #d6d9da;
}

.comment-top {
    margin-top: 2em;
}

.tech-btm img {
    box-shadow: 4px 4px #e4e4e4;
    -webkit-box-shadow: 4px 4px #e4e4e4;
    -o-box-shadow: 4px 4px #e4e4e4;
    -moz-box-shadow: 4px 4px #e4e4e4;
    -ms-box-shadow: 4px 4px #e4e4e4;
}

/* //blog responsive code */

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width:1366px) {}

@media screen and (max-width:1280px) {}

@media screen and (max-width: 1080px) {
    .blog_info p {
        line-height: 1.5;
        letter-spacing: 0.3px;
    }
    .blog_info {
        min-height: 275px;
        padding: 1em 2em;
    }
    .blog_info.blog-right {
        min-height: 305px;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .blog_info.blog-right {
        min-height: 297px;
    }
    .blog-x.br-mar {
        margin-top: 1.2em;
    }
    .blog_info.blog-right {
        min-height: 370px;
    }
    .blog_info.blog-right {
        min-height: 370px;
        width: 100%;
    }
    .blog_info.blog-right.two {
        min-height: 369px;
    }
}

@media screen and (max-width: 1024px) {
    .blog_info.blog-right {
        min-height: 372px;
    }
    .blog_info.blog-right.two {
        min-height: 373px;
    }
}

@media screen and (max-width: 991px) {
    .blog_info {
        min-height: auto;
        padding: 2em 2em;
    }
    .blog_info.blog-right {
        min-height: auto;
    }
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
    }
    .blog_info.blog-right.two {
        min-height: auto;
    }
    .right-blog-con {
        margin-top: 2em;
    }
    .single-left {
        margin-top: 2em;
    }
  
}

@media screen and (max-width: 667px) {
    .row {
        margin-right: 5px;
        margin-left: 5px;
    }
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
        padding: 0;
    }
    .blog-sp {
        padding: 0;
    }
    .mt-3 {
        margin-top: 1em !important;
        display: block;
    }
    .single-left {
        margin-top: 2em;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .blog-sp {
        padding: 0;
    }
    .media {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .comment-top input[type="submit"] {
        width: 40%;
    }
    .blog-grid-top h3 {
        font-size: 1.6em;
    }
    .media img {
        margin-bottom: 1em;
    }
    .comment h3, .comment-top h4 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 568px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 414px) {
    .comment-top input[type="submit"] {
        width: 45%;
    }
}

@media screen and (max-width: 384px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}

/* //blog responsive code */

/*-- video --*/
.videobg{
	background:url(../images/b2.jpg) no-repeat center;
	background: #333;
	position: relative;
}
.videobg h5{
    color: #aaa;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 25px;
    font-weight: normal;
}
.videobg h4 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 32px;
    color: #eee;
}
.videobg p {
    position: absolute;
    color: #aaa;
    font-size: 200px;
    top: 0%;
    left: 24%;
    opacity: .05;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}
/*-- video --*/
/* video popup */
.button a {
    padding: 10px 22px;
    display: inline-block;
    background: rgba(48, 42, 42, 0.85);
    border-radius: 11px;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.button span {
    font-size: 20px;
    vertical-align: middle;
}

.pop-bg2 .button {
    padding-top: 17em;
}

.demo-left iframe {
    width: 100%;
    border: none;
}

.small-demo iframe {
    min-height: 196px;
}

.video-grid1 {
    padding: 0;
}

.pop-row2 {
    margin: 1.5em 0;
}

.pop-row2-middle {
    margin: 0 1.2em;
}

.poprow-3 {
    margin-right: 1.2em;
}

.popl-row {
    margin-top: 1.5em;
}

h3.video-txt {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 1.5;
}

p.video-p-agileinfo {
    letter-spacing: 0.3px;
}

.img-caption {
    background: #ededed;
    padding: 1em;
}

.img-caption p.video-p-agileinfo {
    letter-spacing: 0.3px;
    font-size: 0.9em;
}
arrow-container,
.arrow-1 {
    width: 100px;
    height: 100px;
}
.arrow-1 {
    background:transparent;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
}

.arrow-2 {
    display: table;
}

/* //video popup */


/*-- services --*/
.service-grid1 h4 {
    color: #333;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 600;
}
.service-grid1 h4 span{
    color: #e7272d;
	text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 600;
}
.service-grid1 p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #555;
    line-height: 28px;
}
.layer {
    background: rgba(0, 0, 0, 0.3);
    height: 25vw;
}
.videoplay1{
	background: url(../images/a2.jpg) no-repeat center;
	background-size: cover;
	height: 25vw;
}
.videoplay2{
	background: url(../images/a1.jpg) no-repeat center;
	background-size: cover;
	height: 25vw;
}
.videoplay3{
	background: url(../images/a3.jpg) no-repeat center;
	background-size: cover;
	height: 25vw;
}
.fashionvideo i{
    font-size: 60px;
    color: #fff;
     margin-top: 3em;
}
.fashionvideo h4 {
      color: #333;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 600;
}
/*-- //services --*/
.revista {
    position: relative;
}
.revista iframe {
    width: 100%;
    min-height: 400px;
    margin-bottom: -6px;
	border:none;
}
.textnow {
    margin-left: 100px;
    margin-top: 30px;

}
/* map */
.map {
    position: relative;
}
.map iframe {
    width: 100%;
    min-height: 400px;
    margin-bottom: -6px;
	border:none;
}
.agile_map_grid {
    position: absolute;
    bottom: 13%;
    right: 15%;
    width: 32%;
   background: #3eb7e4 none repeat scroll 0 0;
}
.agile_map_grid::before {
    content: '';
    position: absolute;
    right: 100%;
    transform: rotate(360deg);
    top: 45%;
    border-left: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 30px solid #3eb7e4;
    background: transparent;
}
.agile_map_grid1 {
    padding: 3em;
}
.agile_map_grid1 a {
    color: #eee;
}
.agile_map_grid1 a:hover{
    color: #fff;
}
.agile_map_grid h3 {
    font-size: 22px;
    color: #fff;
    padding-bottom: .5em;
    position: relative;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.agile_map_grid ul li {
    display: inline-block;
    color: #eee;
    letter-spacing: 1px;
     line-height: 28px;
    margin-bottom: 1em;
    text-transform: capitalize;
}
.agile_map_grid ul li i {
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
	color: #fff;
    margin-right: 1em;
}
.agile_map_grid ul li span {
    color:#fff;
    font-weight: 600;
}

/* //map */

/*-- Contact form --*/
.contact_right input[type="text"], .contact_right input[type="email"], .contact_right textarea {
    outline: none;
     padding: 15px 12px;
    background: #f1f1f1;
    color: #212121;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #494949;
}
.contact_right input[type="email"] {
    margin: 1em 0;
}
.contact_right h3 {
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
}
.contact_right textarea {
    min-height: 145px;
    resize: none;
    margin: 1em 0;
}
.contact_right input[type="submit"] {
    outline: none;
    padding: 15px 0;
    background: #3eb7e4;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    border: none;
	cursor: pointer;
}
.contact_right input[type="submit"]:hover {
    background: #333;
}
.col-md-6.contact_right.p-lg-5.p-4 {
    border: 2px dashed #494949;
}
/*-- Contact form --*/

/*-- model --*/
.model h4 {
    color: #222;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}
.model p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #777;
    line-height: 28px;
}
/*-- //model --*/

/*-- footer --*/
.footer {
    background: #181818;
}
.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
    font-size: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.footer-grid p {
    color: #bbbbbb;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.footer-grid ul, .footer-list ul {
    padding: 0;
    margin: 0;
}
.footer-grid ul li, .footer-list ul li {
    display: block;
    margin: .4em 0 0;
}
.footer-logo li {
    display: inline-block !important;
}
.footer-logo ul li a {
    color: #bbb;
    font-size: 1.2em;
    text-decoration: none;
    padding-right: 5px;
}
.footer-list ul li {
    color: #bbb;
    font-size: 1em;
}
.footer-grid ul li {
    color: #bbb;
     font-size: 14px;
    text-decoration: none;
    line-height: 2em;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.footer-grid strong {
    text-decoration: underline;
     color: #eee;
}
.footer-grid ul li a  {
    color: #bbb;
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;
     font-family: 'Open Sans', sans-serif;
}
.footer-grid ul li a:hover{
	color: #3eb7e4;
}
.footer-grid ul li i:hover{
    color: #3eb7e4;
	border: 1px solid #3eb7e4;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agile-footer-grid ul {
    padding: 0;
    margin: 0;
}
ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    font-size: 1em;
}
ul.w3agile_footer_grid_list li a {
    color: #ff9900;
    text-decoration: none;
}
ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}
ul.w3agile_footer_grid_list i.fa.fa-twitter {
    margin-right: 1em;
}
.agile-footer-grid input[type="email"],.agile-footer-grid input[type="text"]{
	outline:none;
    padding: 11px 15px;
	background:#fff;
	border:none;
	font-size:14px;
	color:#212121;
    margin-bottom: 1em;
	width:100%;
    border-bottom: 1px solid #ccc;
     border-radius: 3px;
}
.agile-footer-grid input[type="submit"] {
    outline: none;
    padding: 11px 15px;
    border: none;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    background-color: transparent;
    letter-spacing: 2px;
    text-align: center;
     border-radius: 3px;
}
.agile-footer-grid input[type="submit"]:hover{
    background: #3eb7e4;
    border: 1px solid #3eb7e4;
}
.footer-logo a {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
     font-size: 1.4em;
    text-transform: capitalize;
}
.footer-logo h3 span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    display: block;
	position: relative;
}
.footer-logo h3 span:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    right: 18%;
}
.footer-logo h3 span:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    left: 18%;
}
.wthree_copy_right {
    background: #161616;
}
.wthree_copy_right p {
    text-align: center;
    color: #c1c1c1;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.wthree_copy_right a {
    color: #fff;
}
.wthree_copy_right a:hover {
    color: #3eb7e4;
}
.footer-logo .social i {
    border: 1px solid #ddd;
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    font-size: 12px;
    border-radius: 3px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.extralogo {
    margin-top: 50px;
}
/*-- //footer --*/

/*-- inner-page-banner --*/
.inner-page-banner{
	background: url(../images/bg4.jpg) no-repeat center;
	min-height: 300px;
}
.inner-page-banner2{
	background: url(../images/bg5.jpg) no-repeat center;
	min-height: 300px;
}
.inner-page-banner3{
	background: url(../images/bg3.jpg) no-repeat center;
	min-height: 300px;
}
.inner-page-banner4{
	background: url(../images/bg4.jpg) no-repeat center;
	min-height: 300px;
}
.banner-dott {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 300px;
}
.banner-dott2 {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 300px;
}
.banner-dott3 {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 300px;
}
.banner-dott4 {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 300px;
}
.inner-page-banner h2 {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 3em;
	padding-top: 3em;
}
.inner-page-banner p a {
    margin-right: 1em;
    color: #3eb7e4;
    margin-top: -20px;
}
.inner-page-banner p {
    font-size: 17px;
    color: #eee;
}
.inner-page-banner2 h2 {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 3em;
	padding-top: 3em;
}
.inner-page-banner2 p a {
    margin-right: 1em;
    color: #3eb7e4;
    margin-top: -20px;
}
.inner-page-banner2 p {
    font-size: 17px;
    color: #eee;
}
/*-- inner-page-banner --*/

/*-- services flex-slider --*/
.about-left-grid {
    padding-left: 0;
}
#carousel li {
	margin-right: 0 !important;
	width: 110px !important;
}

#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}

#carousel img:hover {
	opacity: 1;
}

#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}

/*-- //services --*/


/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/


/*-- Responsive Design --*/

@media(max-width:1440px){
	
}
@media(max-width:1280px){
	.banner-text h2 {
		font-size: 70px;
	}
	.banner-text {
		padding: 14em 0 0 0;
	}
	.banner-text i {
		font-size: 50px;
	}
	.m_nav_item {
		margin: 0 1em;
	}
}
@media(max-width:1080px){
	.videobg p {
		font-size: 180px;
		left: 15%;
	}
	.blog1 h3, .blog2 h3 {
		font-size: 22px;
	}
	.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
		font-size: 22px;
		letter-spacing: 2px;
	}
	.footer-logo a {
		font-size: 1.2em;
	}
	.footer-logo h3 span:before {
		left: 13%;
	}
	.footer-logo h3 span:after {
		right: 13%;
	}
	.m_nav_item a {
		letter-spacing: 1px;
		font-size: 14px;
	}
	.m_nav_item {
		margin: 0 .8em;
	}
	.icon span:before {
		left: 42%;
	}
	.icon span:after {
		right: 42%;
	}
	.agile_map_grid {
		width: 39%;
	}
}
@media(max-width:1024px){
	.banner-text h2 {
		font-size: 60px;
		letter-spacing: 4px;
	}
	.banner-text i {
		font-size: 40px;
	}
	.banner-text {
		padding: 13em 0 0 0;
	}
	#m_nav_menu {
		right: 9.4%;
	}
	.stats-grid i {
		width: 75px;
		height: 75px;
	}
}
@media(max-width:991px){
	.banner-text h2 {
		font-size: 55px;
		letter-spacing: 3px;
	}
	.banner-text i {
		font-size: 35px;
		margin: 0 15px;
	}
	.videobg h5 {
		letter-spacing: 1px;
		font-size: 23px;
	}
	.blog1 h3, .blog2 h3 {
		font-size: 20px;
		letter-spacing: 0;
	}
	.blog1 h4, .blog2 h4 {
		font-size: 19px;
		letter-spacing: 1px;
	}
	.footer-logo .social i {
		width: 34px;
		height: 34px;
		line-height: 34px;
		font-size: 10px;
	}
	.w3_agile_logo a {
		font-size: .9em;
	}
	.stats-grid i {
		padding: 0px 0 0 0;
		float: none;
		width: auto;
		height: auto;
		font-size: 30px;
	}
	.numscroller {
		font-size: 1.2em;
		text-align: inherit;
	}
	.model {
		padding: 0 5px;
	}
	.inner-page-banner, .banner-dott {
		min-height: 250px;
	}
	.inner-page-banner h2 {
		font-size: 2.5em;
	}
	.fashionvideo h4 {
		font-size: 18px;
		letter-spacing: 1px;
	}
	.fashionvideo i {
		font-size: 50px;
		margin-top: 2em;
	}
	.agile_map_grid {
		width: 45%;
		right: 10%;
	}
}
@media(max-width:900px){
	#m_nav_menu {
		right: 5.4%;
	}
}
@media(max-width:800px){
	.banner-text {
		padding: 10em 0 0 0;
	}
	.banner-text h2 {
		font-size: 50px;
	}
	h3.heading {
		font-size: 40px;
		letter-spacing: 6px;
	}
	.videobg p {
		font-size: 150px;
		left: 12%;
	}
	.m_nav_item {
		margin: 0 .4em;
	}
	.icon span:before {
		left: 39%;
	}
	.icon span:after {
		right: 39%;
	}
	.blog-grid-top h3 {
		font-size: 20px;	
	}
	.comment h3, .comment-top h4 {
		font-size: 22px;
	}
	.tech-btm h4 {
		font-size: 1.4em;
	}
	.agile_map_grid {
		width: 55%;
		right: 5%;
	}
	.agile_map_grid h3 {
		font-size: 20px;
	}
	.agile_map_grid ul li {
		font-size: 15px;
	}
}
@media(max-width:768px){
	.m_nav_item {
		margin: 0 .3em;
	}
	.blog1 h3, .blog2 h3 {
		font-size: 18px;
	}
	.blog1 a, .blog2 a {
		padding: 10px 25px;
		font-size: 13px;
	}
	.model h4 {
		font-size: 16px;
	}
}
@media(max-width:736px){
	.m_nav_item a {
		letter-spacing: 1px;
		font-size: 13px;
	}
	.wthree_copy_right p {
		letter-spacing: 1px;
	}
	.footer-logo h3 span {
		width: 60%;
	}
	.videobg p {
		font-size: 130px;
	}
	.item h4 {
		font-size: 17px;
		letter-spacing: 1px;
	}
	.inner-page-banner, .banner-dott {
		min-height: 200px;
	}
	.inner-page-banner h2 {
		font-size: 2em;
	}
	.videoplay1,.videoplay2,.videoplay3,.layer {
		height: 30vw;
	}
}
@media(max-width:667px){
	.footer-logo h3 span {
		width: 65%;
	}
	.videobg p {
		font-size: 110px;
		left: 15%;
		top: 20%;
	}
	.service-grid1 p {
		font-size: 14px;
	}
	#m_nav_container {
		text-align: left;
	}
	#m_nav_menu {
		right: 4%;
	}
	.agile_map_grid {
		width: 60%;
		right: 2%;
	}
}
@media(max-width:600px){
	#m_nav_list {
        margin: 0 auto;
        width: 60%;
        padding: 2.2em 0 1em;
    }
    #m_nav_container {
        height: auto;
    }
    .m_nav_item {
        display: block;
        text-align: center;
        margin: 0 0 10px;
    }
	.m_nav_item a {
		font-size: 14px;
	}
	.banner-text h2 {
		font-size: 40px;
	}
	.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.icon span:before {
		left: 36%;
	}
	.icon span:after {
		right: 36%;
	}
	.agile_map_grid {
		width: 70%;
	}
}
@media(max-width:568px){
	h3.heading {
		font-size: 38px;
		letter-spacing: 3px;
	}
	p.welcome-para {
		font-size: 14px;
		letter-spacing: .5px;
	}
	.service-grid1 h4 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.model-grids {
		width: 70%;
		margin: 0 auto;
	}
	.mfp-content iframe {
		min-height: 270px;
	}	
	.inner-page-banner h2 {
		font-size: 1.8em;
		padding-top: 3.5em;
	}
	.videoplay1,.videoplay2,.videoplay3,.layer {
		height: 40vw;
	}
	.blogimg,.blogimg1,.blogimg2,.blogimg3,.blogimg4 {
		min-height: 300px;
	}
	.media img {
		width: 28%;
    }
    .boton {
        display: inline-block;
        font-weight: 400;
        color: #b8b9bb;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
}
@media(max-width:480px){
	.banner-text i {
		font-size: 25px;
		margin: 0px 10px;
	}
	.banner-text {
		padding: 8em 0 0 0;
	}
	.w3_agile_logo a {
		font-size: .8em;
	}
	.banner-text h2 {
		font-size: 36px;
		letter-spacing: 3px;
	}
	.welcome-right h4 {
		font-size: 22px;
		letter-spacing: 1px;
	}
	.videobg p {
		font-size: 80px;
		left: 5%;
	}
	.videobg h4 {
		font-size: 16px;
		letter-spacing: 3px;
	}
	.footer-logo h3 span {
		width: 75%;
	}
	.icon span:before {
		left: 34%;
	}
	.icon span:after {
		right: 34%;
	}
	.inner-page-banner, .banner-dott {
		min-height: 180px;
	}
	.agile_map_grid {
		width: 100%;
		position: static;
	}
	.agile_map_grid1 {
		padding: 2em;
	}
	.map iframe {
		min-height: 250px;
	}
	.contact_right h3 {
		font-size: 20px;
		letter-spacing: 1px;
	}
}
@media(max-width:414px){
	h6.w3l-style {
		position: static;
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	h6.w3l-style:before,h6.w3l-style:after{
		display:none;
	}
	.welcome-right {
		padding-right: 0;
	}
	.welcome-right h4 {
		letter-spacing: 0px;
	}
	.welcome-right a,.welcome-right a.know {
		padding: 10px 25px;
		font-size: 14px;
	}
	.footer-logo h3 span {
		width: 90%;
	}
	.wthree_copy_right p {
		letter-spacing: 2px;
	}
	.mfp-content iframe {
		min-height: auto;
	}		
	.icon span:before {
		width: 40px;
	}
	.icon span:after {
		width: 40px;
	}
	.videoplay1,.videoplay2,.videoplay3,.layer {
		height: 60vw;
	}
	.blog-grid-top h3 {
		font-size: 18px;
		letter-spacing: 0px;
		line-height: 28px;
	}
	.media img {
		width: 36%;
	}
}
@media(max-width:384px){
	.videobg p {
		font-size: 70px;
		left: 5%;
	}
	.w3_agile_logo a {
		font-size: .7em;
	}
	p.stats-info {
		font-size: 0.4em;
	}
	.model-grids {
		width: 80%;
		margin: 0 auto;
	}
	.single p {
		font-size: 0.9em;
		letter-spacing: .5px;
	}
	.contact_right input[type="text"], .contact_right input[type="email"], .contact_right textarea {
		padding: 12px 12px;
		font-size: 14px;
	}
}
@media(max-width:375px){
	.w3_agile_logo h1 span:before {
		width: 35px;
		left: 8%;
	}
	.w3_agile_logo h1 span:after {
		width: 35px;
		right: 8%;
	}
	h3.heading {
		font-size: 30px;
		letter-spacing: 1px;
	}
	.footer-logo h3 span:before {
		left: 8%;
	}
	.footer-logo h3 span:after {
		right: 8%;
	}
	.fashionvideo i {
		font-size: 45px;
	}
	.fashionvideo h4 {
		font-size: 17px;
	}
}
@media(max-width:320px){
	.fashionvideo i {
		margin-top: 1.5em;
	}
}
@media(max-width:1920px){
	
}
@media(max-width:1920px){
	
}
@media(max-width:1920px){
	
}
@media(max-width:1920px){
	
}
@media(max-width:1920px){
	
}
@media (max-width:768px){
#textclase{
    display: none;
}
}
@media (max-width:868px){
    #textdesp{
        display: none;
    }
    }
 @media (max-width:768px){
    #textclase22{
    font-size: 17px;
    margin-top: 20px;
    }
    }
 @media (max-width:768px){
    #textoinicial{
    font-size: 27px;
    margin-top: -48px;
    }
    }


 @media (max-width:768px){
    #centrado{
     margin-left: 5px;
     }
     }
@media (max-width:768px){
    #centrado2{
    margin-right: 10px;
    }
     }
@media (max-width:768px){
    #indexmarg{
    margin-right: 20px;
    }
     }
     @media (max-width:768px){
        #maslogo{
        margin-top: -20px;
        }
         }


/*-- //Responsive Design --*/